* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*============================
COMMON THREADS
=============================*/
body {
  color: black;
  font-size: 20px;
  /*line-height: 150%;*/
}

/*=============================
STYLE
==============================*/
/*background container style*/
.background {
  background: rgb(240, 59, 102);
  width: auto;
  position: absolute;
  height: 100%;
}

.container {
  background: white;
  margin: 5%;
  width: auto;
  height: 80%;
}
/*coloum style*/
article, aside {
  margin: 2.858736059%;
  /*padding-left: 1%;*/
  /*padding-right: 1%;*/
}

article {
  float: left;
  width: 61.197026%;
  padding: 1%;
}

aside {
  float: right;
  width: 23.3680297%;
  /*margin: 0 auto;*/
  padding: 1%;
}
/*content style left field*/
.header{
  margin-top: 1%;
  padding-top: 1%;
  /*height: 25%;*/
}
h1, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  margin: 1%;
}
 h1 {
   float: left;
   /*width: 30%;*/
   font-size: 42px;
   margin-bottom: 2px;
   /*padding-bottom: 0;*/
 }
h3 {
  float: right;
  /*width: 15%;*/
  font-size: 20px;
  margin-bottom: 0;
  padding-right: 11%;
  text-align: right;
}
/*img responsive style*/
img {
  max-width: 100%;
  float: left;
}
/*content style right field */
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
  /*width: 30%;*/
  float: right;
  margin: 0;
}

.mantra {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right;
  font-size: 20px;
  text-align: right;
  padding: 20% 0 10% 10%;
}

.vertical {
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
}

p {
  clear: both;
}



/* headed in a different direction


.owl{
  width: 50%;

}
.date {
  display: inline-block;
  width: 20%;

}*/


/*.image{
  width: auto;
  height: auto;
  display: inline-block;
}
*/
